<a href="https://colab.research.google.com/github/ImSumitJadhav/Machine-Learning/blob/main/T3_Feature_Selection_Techiniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/AlmaBetter/Project 2/SeoulBikeData.csv",encoding="latin1")
df.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [21]:
df.shape

(8760, 14)

In [19]:
x=df.iloc[:,2:11]
y=df[["Rented Bike Count"]]

In [30]:
df2=pd.read_csv("/content/drive/MyDrive/AlmaBetter/Project 3/data_mobile_price_range.csv")
df2.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [31]:
df2.shape

(2000, 21)

In [32]:
x2=df2.iloc[:,:-1]
y2=df2.iloc[:,-1:]

# **Feature Selection Techiniques**

# **1.Pearson feature selection (f_regression)**

In [27]:
# pearson's correlation feature selection for numeric input and numeric output
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

# define feature selection
fs = SelectKBest(score_func=f_regression, k=5)
# apply feature selection
X1_selected = fs.fit_transform(x, y)
print(X1_selected.shape)

X1_selected=pd.DataFrame(X1_selected)
X1_selected.head(10)

(8760, 5)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     0    1     2     3     4
0  0.0 -5.2  37.0 -17.6  0.00
1  1.0 -5.5  38.0 -17.6  0.00
2  2.0 -6.0  39.0 -17.7  0.00
3  3.0 -6.2  40.0 -17.6  0.00
4  4.0 -6.0  36.0 -18.6  0.00
5  5.0 -6.4  37.0 -18.7  0.00
6  6.0 -6.6  35.0 -19.5  0.00
7  7.0 -7.4  38.0 -19.3  0.00
8  8.0 -7.6  37.0 -19.8  0.01
9  9.0 -6.5  27.0 -22.4  0.23

# **2.ANOVA feature selection (f_classif)**

In [28]:
# ANOVA feature selection for numeric input and categorical output
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

# define feature selection
fs = SelectKBest(score_func=f_classif, k=6)
# apply feature selection
X2_selected = fs.fit_transform(x, y)
print(X2_selected.shape)

X2_selected=pd.DataFrame(X2_selected)
X2_selected.head(10)

(8760, 6)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     0    1     2       3     4     5
0  0.0 -5.2  37.0  2000.0 -17.6  0.00
1  1.0 -5.5  38.0  2000.0 -17.6  0.00
2  2.0 -6.0  39.0  2000.0 -17.7  0.00
3  3.0 -6.2  40.0  2000.0 -17.6  0.00
4  4.0 -6.0  36.0  2000.0 -18.6  0.00
5  5.0 -6.4  37.0  2000.0 -18.7  0.00
6  6.0 -6.6  35.0  2000.0 -19.5  0.00
7  7.0 -7.4  38.0  2000.0 -19.3  0.00
8  8.0 -7.6  37.0  2000.0 -19.8  0.01
9  9.0 -6.5  27.0  1928.0 -22.4  0.23

# **3.Feature Importance with tree (ExtraTreesRegressor or ExtraTreesClassifier)**

In [39]:
# Feature Importance with Extra Trees Classifier
from sklearn.ensemble import ExtraTreesClassifier

# feature extraction
model = ExtraTreesClassifier(n_estimators=10)
model.fit(x2, y2)
imp=model.feature_importances_
imp=pd.DataFrame(imp)
imp.head(20)

<ipython-input-39-bfd7e1ec4e6e>:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x2, y2)

           0
0   0.057934
1   0.017814
2   0.030595
3   0.018306
4   0.033007
5   0.016559
6   0.038073
7   0.036460
8   0.033488
9   0.032276
10  0.032242
11  0.046385
12  0.043056
13  0.404532
14  0.034482
15  0.035082
16  0.035693
17  0.015730
18  0.019512
19  0.018774

# **4.Principal Component Analysis**

In [44]:
# Feature Extraction with PCA
from sklearn.decomposition import PCA

# feature extraction
pca = PCA(n_components=3)
fit = pca.fit(x2)
# summarize components

a1=fit.components_
a1=pd.DataFrame(a1)
a1.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.000347,0.000012,0.000003,0.000019,0.000061,0.000003,0.000548,-0.000003,-0.000084,0.000010,0.000162,-0.009903,0.000965,0.999950,0.000061,0.000142,0.000055,0.000006,-0.000014,0.000010
1,0.010388,-0.000025,-0.000021,-0.000004,-0.000067,-0.000007,0.000068,0.000015,0.000039,0.000039,-0.000091,0.725036,0.688601,0.006520,0.000372,0.000366,-0.000021,-0.000014,0.000011,0.000045
2,0.999442,0.000014,0.000021,-0.000048,0.000329,0.000017,-0.000147,0.000022,0.000150,-0.000159,0.000429,0.014308,-0.030147,0.000518,-0.000285,-0.000216,0.000648,0.000011,-0.000012,-0.000010

# **5.chi2 selection**

In [55]:
from  sklearn.feature_selection import chi2

# feature extraction
model2 = chi2(x2,y2)

a2=pd.DataFrame(model2)
a2.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,14129.866576,0.723232,0.648366,0.631011,10.135166,1.521572,8.983912e+01,0.745820,9.597286e+01,9.097556,9.186054,17363.569536,9810.58675,931267.519053,9.614878,16.480319,13.236400,0.327643,1.928429,0.422091
1,0.000000,0.867726,0.885276,0.889298,0.017451,0.677300,2.371978e-19,0.862377,1.140850e-20,0.028022,0.026917,0.000000,0.00000,0.000000,0.022140,0.000904,0.004152,0.954748,0.587394,0.935642

# **6.Mutual Information (mutual_info_regression or mutual_info_classif)**

In [57]:
from sklearn.feature_selection import mutual_info_regression

imp2=pd.DataFrame(mutual_info_regression(x,y))
imp2

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

          0
0  0.359807
1  0.386889
2  0.101006
3  0.020266
4  0.051290
5  0.218055
6  0.172860
7  0.069672
8  0.053450